//Breakpoints
@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: $desktop-br) { @content ; }  
    }
    @else if $point == touch {
        @media (max-width: $desktop-br) { @content ; }
    }
    @else if $point == tablet {
        @media (max-width: $sidebar-breakpoint) { @content ; }
    }
    @else if $point == mobile {
        @media (max-width: $tablet-br)  { @content ; }
    }
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
} 

